img {
    height: 450px;
    width: 450px;
}

h2 {
    margin-left: 15px;
}

.firstdiv {
    border: 5px solid cornflowerblue;
    border-radius: 7px;
    padding: 10px;
    width: 460px;
    box-shadow: 10px 10px 10px 10px cornflowerblue;
    margin-bottom: 50px;
}

.seconddiv {
    border: 5px solid rgb(195, 236, 114);
    border-radius: 7px;
    padding: 10px;
    width: 460px;
    box-shadow: 10px 10px 10px 10px rgb(65, 216, 143);
    margin-bottom: 40px;
}